.Quiz_container_display, .Quiz-DisplayResult, .Quiz_container_display{
    width: 80%;
    margin: 120px auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Quiz-MobileStepper{
    width: 100%;
    
}
.hidden, #button2{
    visibility: hidden;
    width: 15px;
    display: inline;
}
#zaehler{
    background: rgb(207, 207, 207);
    border-radius: 4px;
}
.Quiz_que {
    font-size: 1.3em;
    margin-bottom: 40px;
}

.Quiz_multiple_options{
    margin-bottom: 15px;
}



.labela, li {
    display: block;
    width: 80%;
    padding: 20px 10px;
    background: rgb(207, 207, 207);
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;


}

li {
    display: block;
    width: 100%;
    padding: 10px 10px;
    background: rgb(207, 207, 207);
    
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;


}




input[type="radio"], input[type="checkbox"]{
    visibility:hidden;
}

.whatever {

    border: 1px solid rgb(83, 31, 182);
    background-color: rgb(233, 233, 233);
   
    
}



input[type="radio"] + label {
  position: relative;
  cursor: pointer;
}

.forflex{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.forflex div, .forflex ul{
  width: 45%;
  
}

li > div {
    padding: 0;
    margin: 0;
}

.forflex div, .forflex ul {

width: 80%;
padding: 20px 10px;

margin-bottom: 10px;
border-radius: 4px;}

.forflex div{
 
   
    padding: 0;}

    ul li:nth-child(even){
        
    background-color: rgb(233, 233, 233);
    }

    .right {
        float: right
    }

    .Quiz-DisplayResult, .Quiz_container_display2 {
        background-image: url("https://picsum.photos/800/1200?blur=8");
        background-size: cover;

        
        border-radius: 4px;
        height: auto;
        background-color: rgb(207, 207, 207);
        text-align: center; 
        display: block;
        padding: 20vh 0;
        padding-bottom: 30vh
    }

    #button {
        background-color:rgb(94, 94, 94);
        color:aliceblue
    }

    #button:hover {
        background-color:rgb(177, 176, 175)
    }

    #nav li{
        display: inline;
        background-color: #dddddd;
        float: left;
        width: 200px;
    }

    #nav{
        display: inline;
        background-color: #f0f0f0;
        width: 80%
        
    }

    #nav li a{
        display: block;
         padding: 8px;
        background-color: #f0f0f0;
    }

    #nav {
       
            display: flex;
            justify-content: start;
  
        list-style-type: none;
        margin: 10px;
        padding: 10px;
        padding-left: 0;
        overflow: hidden;
        background-color: rgba(240, 240, 240, 0);
        position: absolute;
        top: 0;
        left: 10vw;
        border-radius:4px ;
      }
      
      #nav  li {
        padding: 0;
        margin: 0;
        border-radius:4px ;

      }

      #nav  li:nth-child(2) {
        
        margin:0 15px ;
      
        
      }
      
      #nav  li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        
        border-radius:4px ;
      }
      
      .right li{
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .left{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
      }
      /* Change the link color to #111 (black) on hover */
      #nav  li a:hover {
        background-color: rgb(182, 182, 182);
        color:rgb(83, 31, 182)
      }

      .wrapper{
          display: inline;
          margin: 0 auto;
      }

      input[type="number"]{
          padding: 10px
      }

      .create input, .create select {
        padding: 10px;
        width: 30%;
        border-radius: 4px;
        border: 1px solid #ccc;
        margin-bottom: 5px;
        margin-right: 5px;
      }

      .create select {
        padding: 8px;
        width: 31.4%;
        margin-left: -39px;
      }

      #visi, .visi {
        display: inline-block;
        visibility: visible;
      }

      .create button {
        padding: 10px 15px;
        background-color: rgba(51, 29, 173, 0.452);
        border-radius: 4px;
        border: none;

      }

      .create button:hover{
        background-color: rgba(148, 136, 214, 0.452);
        cursor:pointer;

      }

      .create input[type = radio], .create input[type = checkbox] {
        width: 20px;
        margin-left: -30px;
        

      }

      .create input[type = checkbox] {
        width: 20px;}

        .create input[type = number] {
          width: 113px;}
       
        .box {width: 48%; margin: 0 auto}

      
      .bold {
          font-weight: bold
      }

      .submit{
          margin-top: 50px;
      }

      .create {
          padding-top: 50px;
      }